/* =================================
    Chart
==================================== */

.chart {
    background: $my-white;
    height: 700px;
    width: 100%;
}
rect {
    fill: $primary;
}
rect:hover {
    fill: $primary-alt;
}
.axis text {
    font-size: 12px;
    font-family: $font-graph;
    font-weight: 300;
}
